body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #a9b1eb;
    margin-bottom: 4px;
}

button {
    background: #a9b1eb;
    color: black;
    padding: 10px 20px;
    border: 1px solid #a9b1eb;
    border-radius: 5%;
    font-weight: bold;
}
button:hover {background-color: #ebe5eb}

button:active {
    background-color: #a9b1eb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#delete-btn {
    background: white;
    color: black;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #a9b1eb;
}


